 body {
    background-color: aquamarine;
    font-family: Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 30px;
    font-size: 28px;
}

form {
    background-color: #fff;
    max-width: 500px;
    width: 90%;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 8px;
}

.form-control label input {
    margin-right: 8px;
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
    outline: none;
    border-color: #05c46b;
    box-shadow: 0 0 5px rgba(5, 196, 107, 0.5);
}

button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

button:hover {
    background-color: #04b360;
    cursor: pointer;
} 

 .error {
      color: red;
      font-size: 0.85em;
      margin-top: 3px;
      display: block;
    }
    .invalid {
  border-color: red;
}

